/* Centrage du formulaire */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

/* Box du formulaire */
.form-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

/* Titre du formulaire */
.form-title {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}

.task-form button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.task-form label, .user-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.task-form button:hover {
    background-color: #0056b3;
}

/* Style des champs du formulaire */
.task-form input, .user-form input,
.task-form textarea {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


.flash-messages {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.flash-success {
    background-color: green;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    opacity: 1;
}

.flash-error {
    background-color: red;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    opacity: 1;
}

.flash-success,
.flash-error {
    transition: opacity 0.5s ease-out;
}


